@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap");

:root {
    --font-sl-montserrat: "Montserrat", sans-serif;
    --font-sl-open-sans: "Open Sans", sans-serif;
    --font-sl-bebas: "Bebas Neue", sans-serif;
}
