NEXTJS_ENV=

PAYLOAD_SECRET=
DATABASE_URL=

NEXT_PUBLIC_GTM_ID=

NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

PREVIEW_SECRET=

R2_BUCKET=
R2_PUBLIC_URL=
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_IMAGES_PREFIX=
R2_DOCUMENTS_PREFIX=

RESEND_API_KEY=
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=