@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --color-sl-orange: #ff914d;
    --color-sl-orange-dark: #ff7c2c;

    --color-sl-beige: #e4dbc7;
    --color-sl-beige-dark: #d6c8aa;

    --font-sl-montserrat: var(--font-montserrat), sans-serif;
    --font-sl-open-sans: var(--font-open-sans), sans-serif;
    --font-sl-bebas: var(--font-bebas), sans-serif;
}

:root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: white;
    font-family: var(--font-sl-montserrat);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    position: relative;
    min-height: inherit;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
}
